body {
    font-family: sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

#cidade-input, #buscar-btn {
    width: 80%;
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
}

#buscar-btn {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#buscar-btn:hover {
    background-color: #0056b3;
}